[access]
	inheritFrom = All-Projects
[project]
	description = Git hub repo hello-world
[access "refs/*"]
	owner = group user/Kartik (kartikpatel211)
[access "refs/for/refs/*"]
	read = group user/Kartik (kartikpatel211)
	push = group user/Kartik (kartikpatel211)
	label-Code-Review = -2..+2 group user/Kartik (kartikpatel211)
	label-Verified = -1..+1 group user/Kartik (kartikpatel211)
	rebase = group user/Kartik (kartikpatel211)
	removeReviewer = group user/Kartik (kartikpatel211)
	submit = group user/Kartik (kartikpatel211)
[access "refs/heads/*"]
	read = group user/Kartik (kartikpatel211)
	create = group user/Kartik (kartikpatel211)
	push = +force group user/Kartik (kartikpatel211)
	pushMerge = group user/Kartik (kartikpatel211)
[access "refs/tags/*"]
	push = group user/Kartik (kartikpatel211)
	push = +force group user/Kartik (kartikpatel211)
[receive]
	maxObjectSizeLimit = 5
